<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">
    <mat-drawer mode="side" opened class="p-6">
       SideBar
      </mat-drawer>
      <mat-drawer-content class="p-6">
        <mat-grid-list
          gutterSize="16"
          [cols]="4"
          [rowHeight]="16"
        >
          <mat-grid-tile >
            <div
              app-product-box
              class="w-full"
            ></div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-drawer-content>
</mat-drawer-container>